body {
  background-color: #F4F1DE;
}

.heading {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #E07A5F;
  text-align: center;
  margin: auto;
  padding: 2%;
  width: 30%;
  height: auto;
  display: block;
  clear: both;
}

.btn {
  display: block;
  background-color: #3D405B;
  color: white;
  font-weight: bold; 
}

#nameOutput {
  display: none;
}

#error {
  display: none;
  color: red;
}

#results {
  display: none;
  color: #81B29A;
  margin: auto;
  padding: 5%;
  width: 30%;
  height: auto;
  clear: both;
}

li {
  list-style: none;
}