.btn {
  display: block;
  background-color: lightslategray;
  font-weight: bold; 
}

#results {
  display: none;
}

/* #tomato, #pea {
  display: none;
}

#tallHat, #shortHat {
  display: none;
}

#one, #two, #three, #four {
  display: none;
}

#button, #lever {
  display: none;
} */